.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
  width: 100%;
  z-index: 100;
}
.landing-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text-detail{
  color: gray;
}
.longdo-map *,.ldmap_contextmenu_info,.ldmap_tooltip {
  color: black;
}
.map-container {
  height: 100%;
  border-radius: 50px !important;
}
.qrcode-bar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
@media only screen and (max-width: 480px) {
  div.project-list {
    display: flex;
    overflow-x: scroll;
  /* white-space: nowrap; */
  }
  .card-container{
    height: 100%;
  }
  .card-project{
    width: 70vw;
    margin-right: 20px;
  }
}

