.icon-skill{
    opacity: 0.7;
    padding: 8px;
}
.icon-skill:hover{
    color: #E23E57;
    border-radius: 10px;
    opacity: 1;
}
.icon-skill :first-child:hover{
    transform: rotate(360deg);
}

.card-project{
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 20px;
  background: rgb(162, 162, 162);
}
  
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .circle-icon{
    margin-left: 8px;
  }
  
  @media (min-width: 480px) {
    .card-project{
      box-shadow:inset 0px 0px 0px 0.5px rgb(182, 182, 182);
    }
    .circle-icon{
      margin-left: 13px;
    }
  }